<div class="employee-card">
  <div class="status {{statusColor}}"></div>
  <div class="basic-info-container">
    <div class="data-field">
      <div class="title">Name</div>
      <div class="data">{{employeeData.name}}</div>
    </div>

    <div class="data-field">
      <div class="title">Position</div>
      <div class="data">{{employeeData.position}}</div>
    </div>

    <div class="data-field">
      <div class="title">Department</div>
      <div class="data">{{employeeData.department}}</div>
    </div>
  </div>
  <div class="more-info">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
