<header>Top</header>
<section class="container">
  <section class="left-container">
    <h1>
      Employee's profile
      <div class="statusButtons-container">

      </div>
    </h1>
    <div class="dataFields-container" #dataFieldsContainer>
      <app-data-field *ngFor="let data of mainEmployeeData; let i=index" [required]="data.required ? data.required : false"
        [disabledData]="data.disabledData != null ? data.disabledData : true"
        [disabledTitle]="data.disabledTitle != null ? data.disabledTitle : true" [title]="data.title" [data]="data.data"
        (deleteDataFieldEmiter)="deleteDataField($event)" (dataChangedEvent)="updateEmployeeData($event)" [index]="i">
      </app-data-field>
    </div>


    <div class="addNewFieldBtn" (click)="addNewDataField()">
      Add aditional info +
    </div>

  </section>
  <section class="right-container">Other Employees</section>
  </section>
